*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}
:root{
    --white-bg: #FFFFFF;
    --cream-bg: #FFFBE8;
    --green-bg: #B7F4B1;
    --grey-text: #747471;
}
.container-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Ensures full viewport height */
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: white; /* Optional, but ensures visibility */
    z-index: 1000; /* Ensures it's on top */
  }
body.noscroll {
    overflow: hidden;
  }
.circle{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: circle 1s linear infinite;
}
@keyframes circle{
    0%{
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #eb0303;
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #1518be;
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #10ee40;
    }
}

.circle::before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgb(214,211,211,0.3);
}
span{
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    animation: text 2s ease-in-out infinite;
    line-height: 200px;
}
@keyframes text{
    0%{
        color: #fff;
    }
    33%{
        color: #ec4164;
    }
    66%{
        color: #259925;
    }
}
#wrapper{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
#wrapper::-webkit-scrollbar{
    display: none;
}
nav{
    height: 4.375rem;
    background-color: var(--white-bg);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 2px;
}
.nav-logo-img{
    height: 50px;
    width: 80px;
}
.nav-logo h2{
    font-size: 23px;
    font-weight: 800;
}
.nav-hyperlinks{
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.nav-hyperlinks a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
    padding-left: 10px;
    cursor: pointer;
    transition: all 0.5s;
}
.nav-hyperlinks a:hover{
    font-weight: 800;
}
.nav-button{
    padding: 12px 28px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--white-bg);
    transition: all 0.5s;
    cursor: pointer;
}
.nav-button:hover{
    background-color: black;
    color: var(--white-bg);
}
header{
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
}
.left-header{
    height: 100%;
    width: 70%;
    background-color: var(--cream-bg);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}
.header-heading{
    margin-top: 10rem;
    margin-left: 9rem;
    font-size: 55px;
}
.header-description{
    width: 60%;
    font-size: 18px;
    color: var(--grey-text);
    font-weight: 400;
    margin-left: 9rem;
}
.header-button{
    margin-left: 9rem;
    margin-top: 1.5rem;
    padding: 15px 30px;
    border-radius: 30px;
    background-color: black;
    color: var(--white-bg);
    font-size: 20px;
    transition: all 0.5s;
    cursor: pointer;
}
.header-button:hover{
    background-color: var(--white-bg);
    color: black;
}
.right-header{
    height: 100%;
    width: 40%;
    background-color: var(--green-bg);
}
.header-img{
    position: absolute;
    height: 550px;
    width:550px;
    top: 7%;
    left: 53%;
    z-index: 10;
    outline: none;
    border: none;
    animation: imgAnimation;
    animation: imgAnimation 2s infinite ease-in-out ;

}
@keyframes imgAnimation{
    50%{
        top: 8%;
        bottom:25%;
    }
}
.footer {
    height: 70px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer p{
    color: #000;
    font-size: 18px;
    font-weight: 600;
}
footer a{
    text-decoration: none;
    color: #000;
    transition: all 0.5s;
    cursor: pointer;
}
footer a:hover{
    font-weight: 800;
}