*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}
:root{
    --white-bg: #FFFFFF;
    --cream-bg: #FFFBE8;
    --green-bg: #B7F4B1;
    --grey-text: #747471;
    --beige-bg: #F4D1B1;
    --black-bg: #000000;
}
.loader-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Ensures full viewport height */
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: white; /* Optional, but ensures visibility */
    z-index: 1000; /* Ensures it's on top */
  }
body.noscroll {
    overflow: hidden;
  }
.circle{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: circle 1s linear infinite;
}
@keyframes circle{
    0%{
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #eb0303;
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #1518be;
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #10ee40;
    }
}

.circle::before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgb(214,211,211,0.3);
}
.load{
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    animation: text 2s ease-in-out infinite;
    line-height: 200px;
}
@keyframes text{
    0%{
        color: #fff;
    }
    33%{
        color: #ec4164;
    }
    66%{
        color: #259925;
    }
}
#wrapper{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
#wrapper::-webkit-scrollbar{
    display: none;
}
nav{
    height: 4.375rem;
    background-color: var(--white-bg);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 2px;
}
.nav-logo-img{
    height: 50px;
    width: 80px;
}
.nav-hyperlinks{
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    scale: 1;
}
.nav-hyperlinks a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
    padding-left: 10px;
    transition: all 0.5s;
    cursor: pointer;
}
.nav-hyperlinks a:hover{
    font-weight: 800;
}
.nav-button{
    padding: 12px 28px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--white-bg);
    transition: all 0.5s;
    cursor: pointer;
    scale: 1;
}
.nav-button:hover{
    background-color: black;
    color: var(--white-bg);
}
.hamburg{
    scale: 0;
    position: absolute;
    z-index: 1000;
}
.hamburg-wrapper{
    background-color: var(--green-bg);
    position: fixed;
    top: 0%;
    right: -1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    backdrop-filter: blur(10px);
    width: 0;
    height:900px;
    z-index: 1000;
    padding: 20px 10px;
    transition: 0.5s ease-in-out;
    box-shadow: 2px 2px 10px rgba(104, 101, 101, 0.484);
    visibility:hidden;
    overflow-x: hidden;
}
.hyperlink{
    margin-top: 3rem;
}
.cross{
    position: absolute;
    top: 2rem;
    right: 4rem;
}
.hyperlink a {
    padding: 20px 6px;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color: black;
    display: block;
    transition: 0.5s;
}
.about-section{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    position: relative;
}
.left-container{
    height: 100vh;
    background-color: var(--cream-bg);
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.left-container h2{
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 40px;
}
.left-container p{
   color: var(--grey-text);
   font-size: 20px;
   margin-bottom: 2rem;
   width: 70%;
   margin-left: 8rem;
}
.right-content{
    background-color: var(--cream-bg);
    height: 100vh;
    width: 40%;
    scale: 1;
}
.about-section img{
    position: absolute;
    height: 600px;
    width:600px;
    top: 7%;
    left: 53%;
    z-index: 10;
    outline: none;
    border: none;
    animation: imgAnimation;
    animation: imgAnimation 2s infinite ease-in-out ;
    scale: 1;
}
@keyframes imgAnimation{
    50%{
        top: 8%;
        bottom:25%;
    }
}
.footer {
    height: 70px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer p{
    color: #000;
    font-size: 18px;
    font-weight: 600;
}
.footer p:nth-child(1){
    scale: 1;
 }
footer a{
    text-decoration: none;
    color: #000;
    transition: all 0.5s;
    cursor: pointer;
}
footer a:hover{
    font-weight: 800;
}

@media (max-width:1150px){
    .about-section img{
        scale: 0;
    }
    .left-container{
       width: 100vw;
    }
    .left-container h2{
        margin-bottom: 1rem;
        margin-left: 10rem;
        width: 100%;
        z-index: 10;
    }
    .left-container p{
        color: var(--grey-text);
        font-size: 20px;
        width: 100%;
        margin-left: 10rem;
        text-align: center;
        z-index: 10;
    }
    .nav-hyperlinks{
        scale: 0;
    }
    .nav-button{
        scale: 0;
    }
    .hamburg{
        scale: 1;
        top: 1%;
        left: 70%;
      }
    .footer{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
    }
    .footer p:nth-child(1){
       scale: 1;
    }
    .footer p{
        margin-top: 1.2rem;
        
    }

}
@media (max-width:750px){
    .left-container h2{
        margin-left: 7rem;
        font-size: 37px;
    }
    .left-container p{
        margin-left: 4rem;
        font-size: 18px;
        width: 120%;
    }
   
}
@media (max-width:450px){
    .hamburg{
        scale: 1;
        top: 1%;
        left: 68%;
      }
    .about-section{
        margin-bottom: 10rem;
    }
    .left-container h2{
        margin-left: 3rem;
        font-size: 32px;
    }
    .left-container p{
        margin-left: 2rem;
        font-size: 16px;
        text-align: start;
        width: 120%;
    }
    .footer{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
        margin-left: -1rem;
    }
    .footer p:nth-child(1){
       scale: 0;
    }
    .footer p{
        margin-top: -2.5rem;
        
    }

}
